
#body{
background: green}


.box
{
position:absolute;
top:40%;
left:30%;
transform: translate(-50%,-50%);
}

input
{
    position: relative;
    display: inline-block;
    fond:20px;
    box-sizing:border-box;
    height:40px;
}
input[type="text"]
{
background: #fff;
}

select
{
    position: relative;
    display: inline-block;
    fond:20px;
    box-sizing:border-box;
    height:50px;
}
.left_box{
background:rgba(5,5,2,.3);
width:300px;
height:300px;
place-items:center;
margin-left: 50px;
}

.right_box{
background:rgba(0,0,0,.3);
height:300px;
float:left;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.block1 {
float: left;
width: 50%;
height:580px;
}

.block2 {
float: left;
width: 50%;
}

.block3 {
float: left;
margin-left:50px;
width: 550px;
height:410px;
background:#FFFFE0;
border-color:brown
border-width:1px;
border-style:solid;
}

.block4 {
float: left;
width: 80%;
margin-top:50px;
text-align:justify;
}

.block5 {
float: left;
width: 80%;
margin-top:50px;
margin-left:50px;
}

.header_index{
color:#00008B;
text-align:center;
}

.header_block3{
color:#8B4513;
text-align:center;
}

.boldblue{
font-weight:bold;
color:blue;
}

.block6 {
float: left;
margin-left:50px;
width: 950px;
background:#FFFFE0;
border-style:solid;
border-color: brown;
}

.center {
margin: auto;
width: 80%;
border: 5px solid #FFFF00;
padding: 10px;
}

.upper {
text-transform: uppercase;
color: maroon;
}

.form{
border-radius:10px;
color:white;
paddling:4px;
width:500px;
}

.input{
margin-top:4px;
width:245px
}

.boldbrown{
font-weight:bold;
color:brown;
}