<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link"  href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/form/">Форма поиска</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/output/">Результат поиска</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contacts">Контакты</a>
          </ul>
     </div>
     <hr align="center" width="1500" size="5" color="blue" />

     <h2 class="header_index" >
        Введите ключевые слова для поиска интересующих Вас вакансий
    </h2>
    <br>
    <div>
        <div class="block1">
            <div class="block5">
                <form action="http://127.0.0.1:5000/output" method="post" class="form">
                    <input type="text" name="job" value="" placeholder="Введите название вакансии" size="50" >
                    <input type="submit" value="Искать" >
                    <br>

                    <select name="area" width="100">
                        {% for key, value in area_dict.items() %}
                        <option value={{value}}>{{key}}</option>
                        {% endfor %}

                        <option selected value={{area_dict["Москва"]}}>Москва</option>
                    </select>
                    </p>
                </form>
            </div>
        </div>
        <div class="block2">
         <img  src = "/static/img/mg2.jfif" width="550px">
        </div>
    </div>

</body>
</html>