<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Подбор вакансий</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/form/">Форма поиска</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/output/">Результат поиска</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contacts/">Контакты</a>
                </ul>
            </div>
             <hr align="center" width="1500" size="5" color="blue" />

            <h2 class = "header_index">Сервис подбора вакансий на hh</h2>
            <br>

            <div class = "block1">
                <div class = "block3">
                    <h5 class="header_block3"> Воспользуйтесь новым аналитическим сервисом для поиска работы Вашей мечты</h5>
                    <div class = "block4">
                        <ul>
                            <li>Вы можете искать вакансии по ключевым словам, как в названии вакансии, так и в описании
                            вакансии, а также в названии компании</li>
                            <li>Результат поиска включает в себя список требуемых навыков для данного типа вакансий,
                            отсотировнного в порядке убывания</li>
                            <li>В результате поиска Вы увидите общеее количество вакансий по Вашему запросу, а также
                            среднюю заработную плату</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "block2">
                <img src="/static/img/mg1.jpg" width="550px">
            </div>

      </div>



    </body>
</html>